<!-- preloader -->
<!-- <div id="preloader">
    <div id="spinner">
        <div class="preloader-dot-loading">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
    <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
</div> -->
<!-- Header -->
<header id="header" class="header fixedtotopnav">
    <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed bg-theme-colored border-bottom-theme-color-2-1px">
            <div class="container">
                <nav id="menuzord" class="menuzord bg-theme-colored pull-left flip menuzord-responsive ">
                    <ul class="pull-left hidden-sm hidden-xs">
                        <li>
                            <a href="#home"> <img src="/src/assets/images/logo-wide.png" alt="" style="height:72px;width: 72px;"> </a>
                        </li>
                    </ul>
                    <!-- option menu start -->
                    <ul class="menuzord-menu pl-100 ">
                        <!--***************** home ***************** -->
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <!--***************** Technologies ***************** -->
                         <li><a href="#">Technologies</a>
                            <ul class="dropdown">
                        <li ng-repeat="list in vm.techmegamenu" ng-include="'submenu.html'" >

                                  <!--   <ul class="dropdown">
                        <li ng-repeat="sublist in list.parent"><a href="blog-classic-no-sidebar.html">{{sublist.submenu}}</a>
                             <ul class="dropdown">
                        <li ng-repeat="subchildlist in sublist.parent"><a href="blog-classic-no-sidebar.html">{{sublist.submenu}}</a>

                        </li>
                        </ul>
                        </li>
                        </ul> -->

                        </li>
                       
                               <!-- <li><a href="#">Infrastructure Core Components</a>
                                <ul class="dropdown">
                                        <li><a href="blog-classic-no-sidebar.html">Active Directory (AD DS)</a></li>
                                        <li><a href="blog-classic-left-sidebar.html">Domain Name System (DNS)</a></li>
                                        <li><a href="blog-classic-right-sidebar.html">Dynamic Host Configuration Protocol (DHCP)</a></li>
                                        <li><a href="blog-classic-both-sidebar.html">Print Server (PS)</a></li>
                                        <li><a href="blog-classic-left-thumbs.html">File Server (FS)</a></li>
                                        <li><a href="blog-classic-left-thumbs.html">Distributed File System (DFS)</a></li>
                                        <li><a href="blog-classic-left-thumbs.html">Web Services (WS)</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Datacenter</a>
                                    <ul class="dropdown">
                                        <li><a ui-sref="user.datacenter">Corses Offered</a>
                                <ul class="dropdown">
                                        <li><a href="blog-classic-no-sidebar.html">Active Directory (AD DS)</a></li>
                                        <li><a href="blog-classic-left-sidebar.html">Domain Name System (DNS)</a></li>
                                        <li><a href="blog-classic-right-sidebar.html">Dynamic Host Configuration Protocol (DHCP)</a></li>
                                        <li><a href="blog-classic-both-sidebar.html">Print Server (PS)</a></li>
                                        <li><a href="blog-classic-left-thumbs.html">File Server (FS)</a></li>
                                        <li><a href="blog-classic-left-thumbs.html">Distributed File System (DFS)</a></li>
                                        <li><a href="blog-classic-left-thumbs.html">Web Services (WS)</a></li>
                                    </ul>

                                        </li>
                                        <li><a href="blog-grid-3-column.html">Blog Grid 3 Column</a></li>
                                        <li><a href="blog-grid-4-column.html">Blog Grid 4 Column</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Virtualization</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-grid-2-column.html">Course Grid 2 Column</a></li>
                                        <li><a href="blog-grid-3-column.html">Blog Grid 3 Column</a></li>
                                        <li><a href="blog-grid-4-column.html">Blog Grid 4 Column</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Private Cloud</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-grid-2-column.html">Course Grid 2 Column</a></li>
                                        <li><a href="blog-grid-3-column.html">Blog Grid 3 Column</a></li>
                                        <li><a href="blog-grid-4-column.html">Blog Grid 4 Column</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Public Cloud</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-grid-2-column.html">Course Grid 2 Column</a></li>
                                        <li><a href="blog-grid-3-column.html">Blog Grid 3 Column</a></li>
                                        <li><a href="blog-grid-4-column.html">Blog Grid 4 Column</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Backup & Storage</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-grid-2-column.html">Course Grid 2 Column</a></li>
                                        <li><a href="blog-grid-3-column.html">Blog Grid 3 Column</a></li>
                                        <li><a href="blog-grid-4-column.html">Blog Grid 4 Column</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Database</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-grid-2-column.html">Course Grid 2 Column</a></li>
                                        <li><a href="blog-grid-3-column.html">Blog Grid 3 Column</a></li>
                                        <li><a href="blog-grid-4-column.html">Blog Grid 4 Column</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Scripting</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-grid-2-column.html">Course Grid 2 Column</a></li>
                                        <li><a href="blog-grid-3-column.html">Blog Grid 3 Column</a></li>
                                        <li><a href="blog-grid-4-column.html">Blog Grid 4 Column</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Architecture</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-grid-2-column.html">Course Grid 2 Column</a></li>
                                        <li><a href="blog-grid-3-column.html">Blog Grid 3 Column</a></li>
                                        <li><a href="blog-grid-4-column.html">Blog Grid 4 Column</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Interview Books</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-grid-2-column.html">Course Grid 2 Column</a></li>
                                        <li><a href="blog-grid-3-column.html">Blog Grid 3 Column</a></li>
                                        <li><a href="blog-grid-4-column.html">Blog Grid 4 Column</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </li>
                        <!--***************** Future Events ***************** -->
                        <li><a href="#home">Future Events</a>
                            <ul class="dropdown">
                                <li><a href="page-teachers-style1.html">Teachers 1</a></li>
                                <li><a href="page-teachers-style2.html">Teachers 2</a></li>
                                <li><a href="page-teachers-details.html">Teachers Details</a></li>
                            </ul>
                        </li>
                        <!--***************** Blog ***************** -->
                        <li><a href="#home">Blog</a>
                            <ul class="dropdown">
                                <li><a href="page-teachers-style1.html">Teachers 1</a></li>
                                <li><a href="page-teachers-style2.html">Teachers 2</a></li>
                                <li><a href="page-teachers-details.html">Teachers Details</a></li>
                            </ul>
                        </li>
                        <!--***************** Certification***************** -->
                        <li><a href="#home">Certification</a>
                            <ul class="dropdown">
                                <li><a href="page-teachers-style1.html">Teachers 1</a></li>
                                <li><a href="page-teachers-style2.html">Teachers 2</a></li>
                                <li><a href="page-teachers-details.html">Teachers Details</a></li>
                            </ul>
                        </li>
                        <!--***************** contact us ***************** -->
                        <li><a href="#home">Contact Us</a>
                            <ul class="dropdown">
                                <li><a href="page-teachers-style1.html">Teachers 1</a></li>
                                <li><a href="page-teachers-style2.html">Teachers 2</a></li>
                                <li><a href="page-teachers-details.html">Teachers Details</a></li>
                            </ul>
                        </li>
                        <!--***************** Jobs ***************** -->
                        <li><a href="#home">Jobs</a>
                            <ul class="dropdown">
                                <li><a href="page-teachers-style1.html">Teachers 1</a></li>
                                <li><a href="page-teachers-style2.html">Teachers 2</a></li>
                                <li><a href="page-teachers-details.html">Teachers Details</a></li>
                            </ul>
                        </li>
                        <!--***************** Contact us***************** -->
                        <li><a href="javascript:void(0)">Others</a>
                            <div class="megamenu">
                                <div class="megamenu-row">
                                    <div class="col3">
                                        <ul class="list-unstyled list-dashed">
                                            <li><a href="shortcode-accordion.html"><i class="fa fa-list-ul"></i> Accordion</a></li>
                                            <li><a href="shortcode-alerts.html"><i class="fa fa-exclamation-circle"></i> Alerts</a></li>
                                            <li><a href="shortcode-animations.html"><i class="fa fa-magic"></i> Animations</a></li>
                                            <li><a href="shortcode-background-html5-video.html"><i class="fa fa-video-camera"></i> HTML5 Background Video</a></li>
                                            <li><a href="shortcode-blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                                            <li><a href="shortcode-button-groups-and-dropdowns.html"><i class="fa fa-link"></i> Button Groups</a></li>
                                            <li><a href="shortcode-button-hover-effect.html"><i class="fa fa-flag-o"></i> Button Hover Effect</a></li>
                                            <li><a href="shortcode-buttons.html"><i class="fa fa-external-link"></i> Buttons</a></li>
                                            <li><a href="shortcode-call-to-actions.html"><i class="fa fa-plus-square"></i> Call To Actions</a></li>
                                            <li><a href="shortcode-charts.html"><i class="fa fa-pie-chart"></i> Charts</a></li>
                                            <li><a href="shortcode-columns-grids.html"><i class="fa fa-columns"></i> Columns Grids</a></li>
                                            <li><a href="shortcode-divider.html"><i class="fa fa-indent"></i> Divider</a></li>
                                            <li><a href="shortcode-dropcaps.html"><i class="fa fa-bold"></i> Dropcaps</a></li>
                                            <li><a href="shortcode-datetime-datepicker.html"><i class="fa fa-calendar"></i> Date Picker</a></li>
                                            <li><a href="shortcode-datetime-timepicker.html"><i class="fa fa-calendar"></i> Time Picker</a></li>
                                        </ul>
                                    </div>
                                    <div class="col3">
                                        <ul class="list-unstyled list-dashed">
                                            <li><a href="shortcode-datetime-datetimepicker.html"><i class="fa fa-calendar"></i> Bootstrap Date-Time Picker</a></li>
                                            <li><a href="shortcode-datetime-datepair.html"><i class="fa fa-calendar"></i> Date Pair</a></li>
                                            <li><a href="shortcode-flex-sliders.html"><i class="fa fa-sliders"></i> Flex Sliders</a></li>
                                            <li><a href="shortcode-flipbox.html"><i class="fa fa-square"></i> Flipbox</a></li>
                                            <li><a href="shortcode-forms.html"><i class="fa fa-align-justify"></i> Forms</a></li>
                                            <li><a href="shortcode-iconbox.html"><i class="fa fa-unsorted"></i> Icon Box</a></li>
                                            <li><a href="shortcode-icon-7stroke.html"><i class="fa fa-circle-o"></i> Icons 7stroke</a></li>
                                            <li><a href="shortcode-icon-elegant-icons.html"><i class="fa fa-eye-slash"></i> Icons Elegant</a></li>
                                            <li><a href="shortcode-icon-flat-color-icons.html"><i class="fa fa-i-cursor"></i> Icons Flat Color</a></li>
                                            <li><a href="shortcode-icon-fontawesome.html"><i class="fa fa-fort-awesome"></i> Icons FontAwesome</a></li>
                                            <li><a href="shortcode-icon-fontawesome-tutorial.html"><i class="fa fa-fonticons"></i> Icons FontAwesome Tutorial</a></li>
                                            <li><a href="shortcode-icon-strokegap.html"><span class="strokegap-icon strokegap-icon-WorldWide"></span> Icons Strokegap</a></li>
                                            <li><a href="shortcode-image-box.html"><i class="fa fa-file-image-o"></i> Image Box</a></li>
                                            <li><a href="shortcode-instagram.html"><i class="fa fa-instagram"></i> Instagram Feed</a></li>
                                            <li><a href="shortcode-labels-badges.html"><i class="fa fa-check-square-o"></i> Labels Badges</a></li>
                                        </ul>
                                    </div>
                                    <div class="col3">
                                        <ul class="list-unstyled list-dashed">
                                            <li><a href="shortcode-listgroup-panels.html"><i class="fa fa-th-list"></i> Listgroup Panels</a></li>
                                            <li><a href="shortcode-lists.html"><i class="fa fa-list"></i> Lists</a></li>
                                            <li><a href="shortcode-maps.html"><i class="fa fa-map-o"></i> Maps</a></li>
                                            <li><a href="shortcode-media-embed.html"><i class="fa fa-play-circle-o"></i> Media Embed</a></li>
                                            <li><a href="shortcode-modal-bootstrap.html"><i class="fa fa-search-plus"></i> Modal</a></li>
                                            <li><a href="shortcode-modal-lightbox.html"><i class="fa fa-expand"></i> Lightbox</a></li>
                                            <li><a href="shortcode-navigation.html"><i class="fa fa-navicon"></i> Navigation</a></li>
                                            <li><a href="shortcode-owl-carousel.html"><i class="fa fa-sliders"></i> Owl Carousel</a></li>
                                            <li><a href="shortcode-pagination.html"><i class="fa fa-arrow-circle-o-right"></i> Pagination</a></li>
                                            <li><a href="shortcode-progressbar.html"><i class="fa fa-tasks"></i> Progress Bars</a></li>
                                            <li><a href="shortcode-responsive.html"><i class="fa fa-tablet"></i> Responsive</a></li>
                                            <li><a href="shortcode-separator.html"><i class="fa fa-minus-square-o"></i> Separator</a></li>
                                            <li><a href="shortcode-sitemap.html"><i class="fa fa-sitemap"></i> Sitemap</a></li>
                                            <li><a href="shortcode-sliders.html"><i class="fa fa-sliders"></i> Sliders</a></li>
                                            <li><a href="shortcode-smoothscrolling.html"><i class="fa fa-binoculars"></i> Smoothscrolling</a></li>
                                        </ul>
                                    </div>
                                    <div class="col3">
                                        <ul class="list-unstyled list-dashed">
                                            <li><a href="shortcode-styled-icons.html"><i class="fa fa-facebook-square"></i> Styled Icons</a></li>
                                            <li><a href="shortcode-subscribe.html"><i class="fa fa-user-plus"></i> Subscribe</a></li>
                                            <li><a href="shortcode-tables.html"><i class="fa fa-table"></i> Tables</a></li>
                                            <li><a href="shortcode-tabs.html"><i class="fa fa-indent"></i> Tabs</a></li>
                                            <li><a href="shortcode-textblock.html"><i class="fa fa-bold"></i> Textblock</a></li>
                                            <li><a href="shortcode-thumbnails-carousels.html"><i class="fa fa-sliders"></i> Thumbnails/carousels</a></li>
                                            <li><a href="shortcode-title.html"><i class="fa fa-text-height"></i> Title</a></li>
                                            <li><a href="shortcode-timer-final-countdown.html"><i class="fa fa-text-height"></i> Timer Final Countdown</a></li>
                                            <li><a href="shortcode-timer-flipclock.html"><i class="fa fa-text-height"></i> Timer Flipclock</a></li>
                                            <li><a href="shortcode-timer-slick-circular.html"><i class="fa fa-text-height"></i> Timer Slick Circular</a></li>
                                            <li><a href="shortcode-twitter.html"><i class="fa fa-twitter-square"></i> Twitter Feed</a></li>
                                            <li><a href="shortcode-typography.html"><i class="fa fa-font"></i> Typography</a></li>
                                            <li><a href="shortcode-vertical-timeline.html"><i class="fa fa-arrows-v"></i> Vertical Timeline</a></li>
                                            <li><a href="shortcode-widgets.html"><i class="fa fa-gift"></i> Widgets</a></li>
                                            <li><a href="shortcode-working-process.html"><i class="fa fa-exchange"></i> Working Process</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--***************** others  end***************** -->
                    </ul>
                    <!-- option menu end -->
                    <ul class="pull-right flip hidden-sm hidden-xs">
                        <li>
                            <!-- Modal: Book Now Starts -->
                            <a class="btn btn-colored btn-flat bg-theme-color-2 text-black font-14 bs-modal-ajax-load mt-0 p-25 pr-15 pl-15" data-toggle="modal" data-target="#BSParentModal" href="ajax-load/reservation-form.html">Request For Training</a>
                            <!-- Modal: Book Now End -->
                        </li>
                    </ul>
                    <div id="top-search-bar" class="collapse">
                        <div class="container">
                            <form role="search" action="#" class="search_form_top" method="get">
                                <input type="text" placeholder="Type text and press Enter..." name="s" class="form-control" autocomplete="off">
                                <span class="search-close"><i class="fa fa-search"></i></span>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
 <script  type="text/ng-template" id="submenu.html">
                         <a  ng-click="!list.parent&&vm.goToCoursePage(list.menudata)">{{list.menudata}}</a>
<ul class="dropdown" ng-if="list.parent">
                        <li ng-repeat="list in list.parent" ng-include="'submenu.html'">

                        </li>
                        </ul>
                        </script>